body {
  padding-top: 80px;
  padding-bottom: 40px;
}

.navbar-photo {
  height: 50px;
  width: 50px;
  margin: 5px 15px;
}

.photo {
  margin: 10px 0;
  border: 1px solid black;
}


/* CUSTOMIZE THE 404 NOT FOUND PAGE
-------------------------------------------------- */

.jumbotron {
  text-align: center;
}

.jumbotron p {
  text-align: center;
}

.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

/* CUSTOMIZE THE ERRORS
-------------------------------------------------- */

@keyframes fadeOut { 
  0% {opacity: 0;} 
  10% {opacity: 1;} 
  90% {opacity: 1;} 
  100% {opacity: 0;}
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
}

/* COSTUMIZE FILE UPLOAD BUTTON
-----------------------------------------------------
http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button 
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}