body {
  padding-top: 80px;
  padding-bottom: 40px;
}

.navbar-photo {
  height: 50px;
  width: 50px;
  margin: 5px 10px;
}

.photo {
  margin: 10px 0;
  border: 1px solid black;
}


/* CUSTOMIZE THE 404 NOT FOUND PAGE
-------------------------------------------------- */

.jumbotron{
  text-align: center;
}

.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

/* CUSTOMIZE THE ERRORS
-------------------------------------------------- */

@keyframes fadeOut { 
  0% {opacity: 0;} 
  10% {opacity: 1;} 
  90% {opacity: 1;} 
  100% {opacity: 0;}
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
}