<template name="personalize">
<div class="container">
				<!--
	{{> quickForm collection="Orders" doc=this id="updatePersonalization" type="update" fields="wrist_color,hand_color,fingers_color" buttonClass="btn btn-info"}}-->
	<div class="order-form">


		{{#autoForm collection="Orders" doc=this id="updatePersonalization" type="update"}}
			<fieldset>
				<legend>Personalize your hand</legend>
				{{> afQuickField name='wrist_color'}}
				{{> afQuickField name='hand_color'}}
				{{> afQuickField name='fingers_color'}}
			</fieldset>
			
			<button type="button" class="btn btn-info btn-left" id="personalize-back"><i class="fa fa-arrow-left"></i> Back</button>
			
			<button type="submit" class="btn btn-info btn-right" id="personalize-continue">Continue <i class="fa fa-arrow-right"></i></button>
			
		{{/autoForm}}
	</div>
</div>
</template>