<template name="photoFlow">
	<h3><u>Order for: {{this.first_name}} {{this.last_name}}</u></h3>

	<h1>Upload photos:</h1>

	<div>
		<h3>Upload Photo</h3>

		<form class='upload-form'>
			<span id="chooseme" class="btn btn-danger btn-file">
    			<span class="fa fa-camera">
				</span>
				Upload a photo! 
				<input name="file" type="file" class='upload-field cloudinary-fileupload'>
			</span>

			<br/>
			<br/>
			{{#if uploading}}
				<div class="progress">
				  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
				  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
				    Loading
				  </div>
				</div>
			{{/if}}
			
			<div class='thumbnails'></div>
		</form>

<!--
		<img width="250" height="250" src="http://res.cloudinary.com/po-paraguay/image/upload/v1438122524/guph3ieckua8kwu5vjad.jpg" class="img-responsive cld-responsive"/>
-->

		<h3>Saved images</h3>

	</div>


	<!-- Previous / Next buttons -->
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-info btn-left" id="personal-info"><i class="fa fa-arrow-left"></i> Personal Info</button>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-info btn-right" id="personalize-hand">Personalize <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>

</template>