<template name="profileHome">
	<div class="container">
		<!--<h1>email: {{Meteor.user()}}</h1>
		<h1>name: {{Meteor.user()}}</h1>-->
		<div class="row">
			<div class="jumbotron">
				<h2>Progress Bar</h2>
				<div class="progress">
				    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:17%">
				      Step 1
				    </div>
				    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:17%">
				      Step 2
				    </div>
				    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:17%">
				      Step 3
				    </div>
				    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width:17%">
				      Step 4
				    </div>
				    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width:16%">
				      Step 5
				    </div>
				    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:16%">
				      Step 6
				    </div>
				</div><!-- Progress Bar -->

				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 1</a>
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 2</a>
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 3</a>
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 4</a>
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 5</a>
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{pathFor 'profileHome'}}" class="btn btn-info" role="button">Step 6</a>
				</div>
			</div>
		</div>




		<div class="row">
			<div class="test1 col-xs-3">
				
			</div>
			<div class="test2 col-xs-9">
				
			</div>
		</div>
	</div>
</template>