<template name="profileHome">
<div class="container">
	
	<h1>Edit an order:</h1>
	{{#each orders}}
		<div class="order">
			<label>{{> orderItem}}</label>

			<input type="button" class="btn btn-danger go-to-order" value="Edit Order">

			{{#if admin_approval}}
				<label>Approved: </label>
				<input type="button" class="btn btn-danger go-to-checkout" value="Checkout">
			{{/if}}
		</div>
		<br>
	{{/each}}
	

	<h1>Create new order:</h1>
	<a href="{{pathFor 'createOrder'}}" class="btn btn-info" role="button">Create New Hand</a>
</div>
</template>