<template name="updateOrder">
	<div class="order-form">	
		{{#autoForm collection="Orders" doc=this id="updateOrderForm" type="update"}}
			<fieldset>
				<legend>Add an order</legend>
				{{> afQuickField name='first_name' placeholder="schemaLabel"}}
				{{> afQuickField name='last_name'}}
				{{> afQuickField name='gender'}}
				{{> afQuickField name='date_of_birth'}}
				{{> afQuickField name='address'}}
				{{> afQuickField name='phone_number'}}
				<div class="form-group">
					{{> afQuickField name='left_hand.has'}}
					{{#if afFieldValueIs name='left_hand.has' value=true}}
						{{> afQuickField name='left_hand.movement'}}
					{{/if}}
				</div>
				<div class="form-group">
					{{> afQuickField name='right_hand.has'}}
					{{#if afFieldValueIs name='right_hand.has' value=true}}
						{{> afQuickField name='right_hand.movement'}}
					{{/if}}
				</div>
			</fieldset>
			<button type="submit" class="btn btn-info">Continue</button>
		{{/autoForm}}
	</div>
	
</template>